@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.429);
}

.principal{
    background-color: white;
    border-radius: 10px;
    width:70%;
    margin: auto;
    margin-top: 40px;
    padding: 5px 5px 5px 5px;
    box-shadow: 5px 5px 4px rgb(142, 139, 143);
    text-align: center;
}

h1{
    font-family: 'Shadows Into Light', cursive;
}

.frases {
    font-size: 18px;
}

.clique::after {
    content: ' [clique na resposta]';
    text-decoration: none;
    color: rgb(118, 117, 117);
    font-size: 0.7em;
}

.item-lista {
    display: none;
}

input:checked+.checkbox-wrappe p {
    display: block;

}

input:disabled+.checkbox-wrappe p {
    display: none;
}

.trigger-input {
    display: none;
}

img{
    width: 200px;
   
}

.option{
    cursor: pointer;
    text-decoration: underline;
    
}

