@charset "UTF-8";

body{
    background-color: rgb(192, 144, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
h1{
    color: brown;
    background-color: rgba(248, 208, 147, 0.486);
    text-align: center;
}
p{
    text-align: justify;
}